<nav class = "navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand">Reclame Aí!</p>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to 'Home', home_path %></li>
      <% if logged_in? %>
      <li><%= link_to "Complains", complains_path %></li>
      <li><%= link_to 'Orders', orders_path %></li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if !logged_in? %>
      <li>
        <%= link_to signup_path do %>
          <span class="glyphicon glyphicon-user"></span>Sign-up
        <% end %>
      </li>
      <li>
        <%= link_to login_path do %>
          <span class="glyphicon glyphicon-login-in"></span>Log-in
        <% end %>
      </li>
      <% end %>
      <% if logged_in? %>
      <li>
        <%= link_to logout_path do %>
          <span class="glyphicon glyphicon-login-out"></span>Log-out
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
